@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Rounded1c;
  src: url("/fonts/MPLUSRounded1c-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Rounded1c;
  src: url("/fonts/MPLUSRounded1c-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url("/fonts/Inter-VariableFont.ttf") format("truetype");
}
