# Ignore Node.js dependencies
node_modules/

# Ignore build artifacts
build/
dist/
out/
*.log

# Ignore environment-specific files
.env
.env.*

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.code-workspace
*.iml

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*